
<div>
    <!-- <i class="fa fa-arrow-left absolute top-3 left-1 cursor-pointer hover:bg-gray-400 text-2xl rounded-full w-8 h-8 text-center" aria-hidden="true" id="close_settings"></i> -->
    <h1 class="text-2xl hidden md:block">Account Settings</h1>
    <div class="p-3 border-b-[1px] border-gray-600 flex items-center md:hidden">
        <i class="fa fa-arrow-left cursor-pointer hover:bg-gray-400 text-2xl rounded-full w-8 h-8 text-center" aria-hidden="true" id="close_settings"></i>
        Account Settings
    </div>
    
</div>

